{% extends 'base.html.twig' %}

{% block title %}Les différentes produits{% endblock %}

{% block body %}

    <div class="jumbotron">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}
