{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>
    <h2>A propos de {{ categorie.nomCategorie }}</h2>

    <p>Ce categorie regroupe les produits ...</p>

    <a href="{{ path('categorie.new') }}"> <button class="btn btn-primary">Créer nouveau catégorie</button></a>

    <a href="{{ path('categorie.edit', {'id': categorie.id}) }}"> <button class="btn btn-secondary">Modifier</button></a>

    {{ include('categorie/delete.html.twig') }}



{% endblock %}
